::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

div * {
  font-family: Arial;
  color: black;
  text-decoration: none;
}



.window {
  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: 50px 1fr 20%;
  grid-template-areas:
    '. . .'
    '. app .'
    '. . .';
}

.app {
  grid-area: app;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.sign-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sign-button {
  background-color: red;
  height: 20px;
  width: auto;
}


.tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}







.user-account {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.add-task {
  display: flex;
  flex-direction: column;
}