$text-color: #323232;
$gray: #ebedf4;
$green: #99C794;
$red: #EC6066;
$dark_gray: #AFB0B5;




::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

div * {
  font-family: Arial;
  color: black;
  text-decoration: none;
}





.window {
  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: 50px 1fr 20%;
  grid-template-areas:
    '. . .'
    '. app .'
    '. . .';
}

.app {
  grid-area: app;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.sign-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sign-button {
  background-color: red;
  height: 20px;
  width: auto;
}


.tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}







.user-account {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.add-task {
  display: flex;
  flex-direction: column;
}







.task {
  display: grid;
  grid-template-rows: auto 40px auto;
  grid-template-areas:
    'title title title'
    'body body body'
    'date . buttons';
  row-gap: 3px;
}

.task > div {
  padding: 3px;
}

.task-title,
.task-body,
.task-date {
  background-color: $dark_gray;
}

.task-title {
  grid-area: title;
}
.task-body {
  grid-area: body;
}
.task-date {
  grid-area: date;
}
.task-buttons {
  grid-area: buttons;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.task-buttons > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  background-color: $dark_gray;
}