$text-color: #323232;
$gray: #ebedf4;
$green: #99C794;
$red: #EC6066;
$dark_gray: #AFB0B5;



@mixin button(
  $w: auto,
  $h: auto,
  $c: black,
  $bc: $dark_gray,
) {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: $w;
  height: $h;
  color: $c;
  background-color: $bc;
  cursor: pointer;
}



::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

div * {
  font-family: Arial;
  color: black;
  text-decoration: none;
}




.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  opacity: 0.6;
  font-weight: bold;
  font-size: 40;
  color: white;
}
.loading {
  background: linear-gradient(70deg, #F2F2F2, #BCBDC1, #F2F2F2);
  background-position: right;
  background-size: 250% 250%;
  animation-name: loading-window;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
@keyframes loading-window {
  from {background-position: 0% 100%;}
  to {background-position: 100% 0%;}
}



.window {
  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: 25px 1fr 20%;
  grid-template-areas:
    '. . .'
    '. app .'
    '. . .';
}

.app {
  grid-area: app;
  display: flex;
  justify-self: center;
  max-width: 800px;
}





.user-account {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  height: 90vh;
}





.activation-message {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}






.sign-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sign-tumbler {
  width: 100%;
  height: 30px;
  display: flex;
  background: linear-gradient(90deg, $gray 0 calc(100%/3), $dark_gray calc(100%/3) calc(100%/3*2), $gray calc(100%/3*2) 100%);
  background-size: 150%;
  transition-duration: 0.15s;
}
.sign-tumbler > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  text-align: center;
  color: white;
  font-size: 20px;
  opacity: 0.8;
  cursor: pointer;
}

.sign-tumbler > a:hover {
  transition-duration: 0.1s;
  opacity: 1;
}

.sign-button {
  @include button($h: 30px);
}






.settings {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 10%;
  transition-duration: 0.5s;
}
.settings-bar {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 20px;
  height: 20px;
  z-index: 2;
}
.settings-bar > div {
  display: flex;
  align-items: center;
  font-size: 14px;
  opacity: 0.7;
}
.settings-edit-button,
.settings-logout-button {
  cursor: pointer;
  justify-self: right;
}

.settings-edit {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  transition-duration: 0.5s;
  z-index: 1;
}
.settings-edit > div {
  height: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.settings-edit-password,
.settings-edit-user {
  display: flex;
  gap: 20px;
  position: relative;
}

.settings-edit-password-button,
.settings-edit-user-button {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.settings-edit-user-button {
  top: 0px;
  transition-duration: 0.5s;
}

.settings-edit-password-input,
.settings-edit-user-input {
  position: relative;
  left: 0px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  transition-duration: 0.3s;
}

.settings-edit-password-inputs {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.settings-edit-password-buttons,
.settings-edit-user-buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.settings-edit-password-buttons > div,
.settings-edit-user-buttons > div {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}





.tasks {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  justify-self: top;
  overflow-y: scroll;
}









.add-task {
  display: flex;
  flex-direction: column;
  gap: 6px;
}





.task-container {
  display: grid;
  grid-template-areas: "task";
  position: relative;
}

.task,
.task-edit {
  grid-area: task;
  display: grid;
  grid-template-columns: 150px auto auto;
  grid-template-rows: 22px auto 18px;
  grid-template-areas:
    'title title title'
    'body body body'
    'date . buttons';
  row-gap: 3px;
  padding: 3px;
  border: 3px solid rgba(255, 255, 255, 0.0);
  transition-duration: 0.3s;
}

.task:hover {
  border: 3px solid $red;
  transition-duration: 0.3s;
}

.task-title,
.task-title-edit {
  display: flex;
  align-items: center;
  grid-area: title;
  font-size: 16px;
  padding: 5px;
  background-color: $gray;
}
.task-body,
.task-body-edit {
  grid-area: body;
  resize: none;
  word-break: break-word;
  font-size: 14px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: $gray;
}
.task-date,
.task-date-edit {
  grid-area: date;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  background-color: $gray;
}
.task-buttons {
  grid-area: buttons;
  display: grid;
  justify-content: right;
  justify-self: right;
  grid-template-columns: 100px 100px;
  grid-template-areas: "button1 button2";
  gap: 10px;
}
.task-button-edit,
.task-button-accept {
  grid-area: button1;
}
.task-button-delete,
.task-button-cancel {
  grid-area: button2;
}
.task-buttons > div {
  background-color: $gray;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.15s;
  font-size: 14px;
}
.task-button-edit:hover,
.task-button-accept:hover,
.task-button-delete:hover,
.task-button-cancel:hover {
  font-size: 15px;
}

.task-done-checkbox {
  background-color: red;
  width: 100px;
  height: 100px;
  grid-area: checkbox;
}

.task-title-edit,
.task-title-edit:focus,
.task-body-edit,
.task-body-edit:focus,
.task-date-edit,
.task-date-edit:focus {
    box-sizing: border-box;
    border: none;
    outline: none;
}





.hide {
  opacity: 0;
  visibility: hidden;
  transition-duration: 0.3s;
}

.outdated {
  background-color: rgba(255, 0, 0, 0.5);
}

.wrapped {
  top: -24px;
  transition-duration: 0.5s;
  opacity: 0;
}

.shrunk {
  height: 20px;
}

.pushed {
  transition-duration: 0.3s;
  left: -100%;
  opacity: 0;
}




.add-task-body {
  resize: none;
  height: 40px;
}

.add-task-button {
  @include button($h: 30px);
  
}